.root {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;

  &__header {
    background-color: #cccc66;
    border-bottom: 4px solid #999966;
    height: 32px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex: 0 0 auto;
  }

  &__nav {
    max-width: 800px;
    margin: 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
 
  &__main {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row;
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
  }
}
