html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #333300;
}

#container {
  height: 100%;
  min-width: 100%;
  display: flex;
  overflow: hidden;
}

.root {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  flex: 1 0 auto;

  &__header {
    background-color: #999966;
    height: 32px;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex: 0 0 auto;
  }

  &__nav {
    max-width: 800px;
    margin: 0 auto;
    flex: 1 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
  }
 
  &__main {
    display: flex;
    flex: 1 0 auto;
    flex-flow: row;
    margin: 0 auto;
    max-width: 800px;
    overflow: hidden;
    background-color: #cccc99;
  }

  &__sidebar {
    flex: 1 0 auto;
  }

  &__messages {
    display: flex;
    flex: 3 0 auto;
    overflow: hidden;
    flex-flow: column;
  }

  &__message-list {
    flex: 1 1 auto;
    overflow: scroll;
    display: flex;
    flex-flow: column;
    height: 0;
  }

  &__message-input {
    flex: 0 0 auto;
    height: 50px;
  }
}

