html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #cccc99;
}

#container {
  height: 100%;
}

.root {
  display: flex;
  overflow: hidden;
  flex-flow: row wrap;

  max-width: 800px;
  height: 100%;
  margin: 0 auto;

  &__nav {
    height: 32px;
    width: 100%;
    flex: 0 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-end;
  }

  &__sidebar {
    border: 1px solid green;
    flex: 1 0 auto;
  }

  &__main {
    border: 1px solid black;
    flex: 2 0 auto;
    height: 100%;
    width: 250px;
    overflow: hidden;
  }
}

.messenger {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-flow: column;

  &__list {
    flex: 1 0 auto;
    height: 0;
    overflow: scroll;
  }

  &__input {
    flex: 0 0 auto;
    height: 100px;
    margin-bottom: 50px;
    border: 2px solid red;
  }
}
