.current-user {
  line-height: 32px;
  float: right;

  &__avatar {
    float: left;
  }

  &__name {
    margin-left: 8px;
    color: #003300;
    float: left;
  }

  &__sign-out {
    margin-left: 8px;
    text-decoration: none;
    color: #336633;
    float: left;
  }
}
